# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
# Create a tuple with the first 10 positive integers. Print the tuple.

t=(1,2,3,4,5,6,7,8,9,10)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Print the first, middle, and last elements of the tuple created in Assignment 1.
print("first : ",t[0])
print("middle : ",t[len(t)//2])
print("last : ",t[len(t)-1])

first :  1
middle :  6
last :  10

In [ ]:
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print("First three : ",t[0:3])
print("last three : ",t[-1:-4:-1])
print(" index 2 to 5 : ",t[2:6])

First three :  (1, 2, 3)
last three :  (10, 9, 8)
 index 2 to 5 :  (3, 4, 5, 6)

In [ ]:
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
t2=((1,2,3),(4,5,6),(7,8,9))
print(t2)
print("second row and third column : ",t2[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
second row and third column :  6

In [ ]:
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
t=(1,2,3,4,5,2,3,5,6,2,4,8,9,2)
s=set(t)
for i in s:
  print("occurence of ",i,'is',t.count(i),"first occurence of element index is ",t.index(i))

occurence of  1 is 1 first occurence of element index is  0
occurence of  2 is 4 first occurence of element index is  1
occurence of  3 is 2 first occurence of element index is  2
occurence of  4 is 2 first occurence of element index is  3
occurence of  5 is 2 first occurence of element index is  4
occurence of  6 is 1 first occurence of element index is  8
occurence of  8 is 1 first occurence of element index is  11
occurence of  9 is 1 first occurence of element index is  12

In [ ]:
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
t=(1,2,3,4,5)
a,b,c,d,e=t
print(a,b,c,d,e)

1 2 3 4 5

In [ ]:
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.
l=[1,2,3,4,5]
t=tuple(l)
print(t)

(1, 2, 3, 4, 5)

In [ ]:
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
t=('m','a','h','i')
s=''.join(t)
print(s)

mahi

In [ ]:
# Create a dictionary with tuple keys and integer values. Print the dictionary.

d={
    (1,2,3):1,
    (4,5,6):2,
    (7,8,9):3
}
print(d)

{(1, 2, 3): 1, (4, 5, 6): 2, (7, 8, 9): 3}

In [ ]:
# Create a nested tuple and iterate over the elements, printing each element.
nest_tup=((1,2,3),(4,5,6))
for i in range(len(t)):
  for j in range(len(t[i])):
    print(nest_tup[i][j])

1
2
3
4
5
6

In [ ]:
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
t=(1,2,3,4,5,2,3,5,6,2,4,8,9,2)
s=set(t)
print(s)

{1, 2, 3, 4, 5, 6, 8, 9}

In [ ]:
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
t=(1,2,3,4,5,2,3,5,6,2,4,8,9,2)
print("minimum : ",min(t))
print("maximum : ",max(t))
print("sum : ",sum(t))

minimum :  1
maximum :  9
sum :  56